<h1> Cart:</h1>

<%@cart.each do |item|%>
<%=item.name %>
 <%=item.price%>
 <%=link_to "Delete","/cart/item/#{item.id}/delete", method: :delete%>
 <br><br>
 <%end%>
 <hr>
 <h3>Total price: $<%= @total_sum%></h3>
 <br>
 <%=button_to "Place order!", '/orders/placed', method: :get%>
 <br>
 <%=link_to "Items", items_path%>
